<div class="card-content">
    <div class="card-img">
        <img src="https://placeimg.com/380/230/nature" alt="">
        <!--<img src="{{destino.urlImagen}}" alt="">-->
        <span>
            <h4>{{destino.nombre}}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{destino.nombre}}</h3>
        <p>{{destino.descripcion}}</p>
        <div><b>Fecha inicio: </b>{{destino.fechaInicio}}</div>
        <div><b>Fecha fin: </b>{{destino.fechaFin}}</div>
        <br>
        <a href="#" class="btn-card">Revisa tu viaje</a>
    </div>
</div>