<div class="container content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <span class="anchor" id="formLogin"></span>
            <div class="card card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0">Lugares por conocer</h3>
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre" #nombre>
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <textarea class="form-control" id="descripcion" rows="3" #descr></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Fecha inicial">Fecha inicial del viaje</label>
                            <input type="date" class="form-control" id="fechaIni" #fechai>  
                        </div>
                        <div class="form-group">
                            <label for="Fecha final">Fecha final del viaje</label>
                            <input type="date" class="form-control" id="fechaFin" #fechaf>
                        </div>
                        <div class="form-group">
                            <label for="Imagen	Url">Imagen Url</label>
                            <input type="text" class="form-control" id="imagenUrl" placeholder="Ingresar url del lugar que quieres conocer" #url>
                        </div>
                        <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,descr.value,fechai.value,fechaf.value,url.value)">Guardar!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row row-flex">
        <app-destino-viaje *ngFor="let d of destinos" [destino]="d"></app-destino-viaje>
    </div>
</div>