<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">1000 cosas por hacer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Lugares por conocer <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Libros que leer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Comidas por probar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Actividades por realizar</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<app-lista-destinos></app-lista-destinos>